{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Contact Us</h2>
    <p>We'd love to hear from you! Whether you have a question about our products, need assistance with an order, or just want to share your feedback, we're here to help.</p>
    <p><strong>Email:</strong> support@myshop.com</p>
    <p><strong>Phone:</strong> +1 (123) 456-7890</p>
    <p><strong>Address:</strong> 1234 MyShop Street, City, State, ZIP Code</p>
    <p>Our customer service team is available Monday to Friday, 9 AM to 5 PM. We strive to respond to all inquiries within 24 hours.</p>
    <p>Follow us on social media for the latest updates and promotions:</p>
    <ul>
        <li><a href="https://www.facebook.com/myshop" target="_blank">Facebook</a></li>
        <li><a href="https://www.twitter.com/myshop" target="_blank">Twitter</a></li>
        <li><a href="https://www.instagram.com/myshop" target="_blank">Instagram</a></li>
    </ul>
</div>

{% endblock %}
